!/App_Data/
/App_Data/*

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

wwwroot
**/Localization/**/*.po
!src/OrchardCore.Modules/**/wwwroot
!src/OrchardCore.Themes/**/wwwroot
!src/OrchardCore.Modules/**/Localization/**/*.po
!src/OrchardCore.Themes/**/Localization/**/*.po
!src/Templates/**/content/**
src/Templates/**/content/**/[Bb]in/
src/Templates/**/content/**/[Oo]bj/
.template.config/
/OrchardCore.sln.GhostDoc.xml

# Rider
/.idea

# BenchmarkDotNet artifacts
BenchmarkDotNet.Artifacts

